<div class="row">

  <div class="col-md-10 col-md-offset-2">

    <h1>Profile</h1>

      <div class="row">

        <div class="col-md-8">
          <p>Profile Image To Go Here</p>
        </div>

        <div class="col-md-4">

          <div class="row">
            <p>First &amp; Last Name:</p>
          </div>

          <div class="row">
            <p>Email:</p>
          </div>

          <div class="row">
            <p>Previous Box Orders:<br />
              <ul>
                <li>Order 1 to go here <br />
                Show Link to Box Order
                </li>
                <li>Order 2 to go here <br />
                Show Link to Box Order</li>
              </ul>
            </p>
          </div>

        </div>

      </div>

      <div class="row">
        <%= link_to "Create A Box", new_box_path, :class => 'btn btn-primary btn-md' %>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
      Edit Your Profile</button>
        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-primary btn-md" %>
      </div>
      <!-- Modal Edit Account -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Edit Your Profile</h4>
            </div>
            <div class="modal-body">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off" %>
                </div>

                <div class="modal-footer actions">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <%= f.submit "Update", :class => "btn btn-default" %>
                </div>
              <% end %>
            </div>

          </div>
  </div>
</div>