<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<h1>Select Your Filters</h1>
					<%= form_for :product, url: '/products/new', :html => { method: :get} do |f| %>
					<div style="font-size: 20px; margin: 5px 0">
						<%= f.label "Select a Shirt Size" %>
						<%= f.select :shirt_size, SIZE %>
					</div>

					<div style="font-size: 20px; margin: 5px 0">
						<%= f.label "Select a Pants Size" %>
						<%= f.select :pants_size, SIZE %>
					</div>

					<div style="font-size: 20px; margin: 5px 0">
						<%= f.label "Select a Jacket Size" %>
						<%= f.select :jacket_size, SIZE %>
					</div>

					<div style="font-size: 20px; margin: 5px 0">
						<%= f.label "Select a Style" %>
						<%= f.select :style, STYLE %>
					</div>

					<div style="font-size: 20px; margin: 5px 0">
						<%= f.label "Select Max Price for each Piece" %>
						<%= f.select :price, PRICE %>
					</div>

					<div style="font-size: 20px; margin: 5px 0">
						<%= f.label "Select a Gender" %>
						<%= f.select :gender, GENDER %>
					</div>

					<div style="font-size: 20px; margin: 5px 0">
						<%= f.submit "Let's Start Building Your Box", :class => "btn btn-primary" %>

					</div>
					<% end %>
				</div>

			</div>
		</div>
	</div>
</div>