<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-md-6">
                <h5><span class="glyphicon glyphicon-shopping-cart"></span>Choose an Outfit</h5>
              </div>
              <div class="col-md-2 col-md-offset-10">
              <%= form_tag("/products/show", method: "post", id:"id_form") do %>
                <h5><%= submit_tag(value="Review Order", style: "font-size: 18px") %></h5>
              <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4 box">
             <h4 class='text-center'>Jackets and Sweaters</h4>
              <div class='text-center'>
                <button id="toggle-left-jacket" class="glyphicon glyphicon-chevron-left"></button>
                <button id="toggle-right-jacket" class='glyphicon glyphicon-chevron-right'></button>
              </div>
              <div id='jacket_info' class='text-center'></div>
            </div>

            <div class="col-md-4 box">
              <h4 class='text-center'>Shirts</h4>
              <div class='text-center'>
                <button id="toggle-left-shirt" class="glyphicon glyphicon-chevron-left"></button>
                <button id="toggle-right-shirt" class='glyphicon glyphicon-chevron-right'></button>
              </div>
              <div id='shirt_info' class='text-center'></div>
            </div>

            <div class="col-md-4 box">
              <h4 class='text-center'>Pants</h4>
              <div class='text-center'>
                <button id="toggle-left-bottom" class="glyphicon glyphicon-chevron-left"></button>
                <button id="toggle-right-bottom" class='glyphicon glyphicon-chevron-right'></button>
              </div>
              <div id='bottom_info' class='text-center'></div>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>




<script>
$(function() {
  // index count
  var indexShirt  = 0;
  var indexJacket = 0;
  var indexBottom = 0;

  var shirtProducts    = <%= raw @shirt_products.to_json %>;
  var jacketProducts   = <%= raw @jacket_products.to_json %>;
  var bottomProducts   = <%= raw @bottom_products.to_json %>;

  /**************************************************
  * On document load, load first images of products
  ***************************************************/  
  $('#shirt_info').append("<h5>" + shirtProducts[0].priceLabel + '</h5>')
  $('#shirt_info').append("<img src=" + shirtProducts[0].image.sizes.XLarge.url + " class='center-block'>");
  $('#shirt_info').append(shirtProducts[0].description)
  $('#id_form').append("<input id='hidden_shirt_id' type='hidden' name='product_ids[shirt_id]' value=" + shirtProducts[0].id + ">");
  
  $('#jacket_info').append('<h5>' + jacketProducts[0].priceLabel + '</h5>')
  $('#jacket_info').append("<img src=" + jacketProducts[0].image.sizes.XLarge.url + " class='center-block'>");
  $('#jacket_info').append(jacketProducts[0].description)
  $('#id_form').append("<input id='hidden_jacket_id' type='hidden' name='product_ids[jacket_id]' value=" + jacketProducts[0].id + ">");

  $('#bottom_info').append('<h5>' + bottomProducts[0].priceLabel + '</h5>')
  $('#bottom_info').append("<img src=" + bottomProducts[0].image.sizes.XLarge.url + " class='center-block'>");
  $('#bottom_info').append(bottomProducts[0].description)
  $('#id_form').append("<input id='hidden_bottom_id' type='hidden' name='product_ids[bottom_id]' value=" + bottomProducts[0].id + ">");


  /**************************************************
  * Update images and hidden field values
  ***************************************************/ 
  function update(image_id, productsArray, index) {
    $(image_id).empty();
    $(image_id).append('<h5>' + productsArray[index].priceLabel + '</h5>')
    $(image_id).append("<img src=" + productsArray[index].image.sizes.XLarge.url + ">");
    $(image_id).append(productsArray[index].description)

    if(productsArray === shirtProducts)
      $('#hidden_shirt_id').attr("value", shirtProducts[index].id)
    else if(productsArray === jacketProducts)
      $('#hidden_jacket_id').attr("value", jacketProducts[index].id)
    else
      $('#hidden_bottom_id').attr("value", bottomProducts[index].id)
  }


  /**************************************************
  * Toggle through images click functions
  ***************************************************/  
  // Jacket Images
  $( "#toggle-right-jacket" ).click(function() {
    if( indexJacket < jacketProducts.length - 1) {
    	indexJacket++;
      update('#jacket_info', jacketProducts, indexJacket)
    }
  });

  $( "#toggle-left-jacket" ).click(function() {
    if(indexJacket >= 1) {
    	indexJacket--;
      update('#jacket_info', jacketProducts, indexJacket)
    }
  });

  // Shirt Images
  $( "#toggle-right-shirt" ).click(function() {
    if( indexShirt < shirtProducts.length - 1) {
      indexShirt++;
      update('#shirt_info', shirtProducts, indexShirt)
    }
  });

  $( "#toggle-left-shirt" ).click(function() {
    if(indexShirt >= 1) {
    	indexShirt--;
      update('#shirt_info', shirtProducts, indexShirt)
    }
  });

  // Bottoms Images
  $( "#toggle-right-bottom" ).click(function() {
    if( indexBottom < bottomProducts.length - 1) {
        indexBottom++;
        update('#bottom_info', bottomProducts, indexBottom)
    }
  });

  $( "#toggle-left-bottom" ).click(function() {
    if(indexBottom >= 1) {
    	indexBottom--;
      update('#bottom_info', bottomProducts, indexBottom)
    }
  });

})
</script>