<div class="container">

   <%= form_tag("/products/show", method: "post", id:"id_form") do %>
     <%= submit_tag(value="Review Order") %>
   <% end %>
    <div class="row">
       <div class="col-md-4 box">
       		JACKETS

	      <button id="toggle-left-jacket"></button>
	  		<button id="toggle-right-jacket"></button>

	  		<div id='jacket_info'></div>

       </div>


   		<div class="col-md-4 box">
			SHIRTS

	       	<button id="toggle-left-shirt"></button>
	  		<button id="toggle-right-shirt"></button>

	  		<div id='shirt_info'></div>

		</div>


       	<div class="col-md-4 box">
       		Pants

	       <button id="toggle-left-bottom"></button>
	  		<button id="toggle-right-bottom"></button>

	  		<div id='bottom_info'></div>
       	</div>
    </div>    
</div>



<script>
$(function() {
  // index count
  var indexShirt  = 0;
  var indexJacket = 0;
  var indexBottom = 0;

  var shirtProducts    = <%= raw @shirt_products.to_json %>;
  var jacketProducts   = <%= raw @jacket_products.to_json %>;
  var bottomProducts   = <%= raw @bottom_products.to_json %>;

  /**************************************************
  * On document load, load first images of products
  ***************************************************/  
  $('#shirt_info').append(shirtProducts[0].priceLabel)
  $('#shirt_info').append("<img src=" + shirtProducts[0].image.sizes.XLarge.url + ">");
  $('#shirt_info').append(shirtProducts[0].description)
  $('#id_form').append("<input id='hidden_shirt_id' type='hidden' name='product_ids[shirt_id]' value=" + shirtProducts[0].id + ">");
  
  $('#jacket_info').append(jacketProducts[0].priceLabel)
  $('#jacket_info').append("<img src=" + jacketProducts[0].image.sizes.XLarge.url + ">");
  $('#jacket_info').append(jacketProducts[0].description)
  $('#id_form').append("<input id='hidden_jacket_id' type='hidden' name='product_ids[jacket_id]' value=" + jacketProducts[0].id + ">");

  $('#bottom_info').append(bottomProducts[0].priceLabel)
  $('#bottom_info').append("<img src=" + bottomProducts[0].image.sizes.XLarge.url + ">");
  $('#bottom_info').append(bottomProducts[0].description)
  $('#id_form').append("<input id='hidden_bottom_id' type='hidden' name='product_ids[bottom_id]' value=" + bottomProducts[0].id + ">");


  /**************************************************
  * Update images and hidden field values
  ***************************************************/ 
  function update(image_id, productsArray, index) {
    $(image_id).empty();
    $(image_id).append(productsArray[index].priceLabel)
    $(image_id).append("<img src=" + productsArray[index].image.sizes.XLarge.url + ">");
    $(image_id).append(productsArray[index].description)

    if(productsArray === shirtProducts)
      $('#hidden_shirt_id').attr("value", shirtProducts[index].id)
    else if(productsArray === jacketProducts)
      $('#hidden_jacket_id').attr("value", jacketProducts[index].id)
    else
      $('#hidden_bottom_id').attr("value", bottomProducts[index].id)
  }


  /**************************************************
  * Toggle through images click functions
  ***************************************************/  
  // Jacket Images
  $( "#toggle-right-jacket" ).click(function() {
    if( indexJacket < jacketProducts.length) {
    	indexJacket++;
      update('#jacket_info', jacketProducts, indexJacket)
    }
  });

  $( "#toggle-left-jacket" ).click(function() {
    if(indexJacket >= 1) {
    	indexJacket--;
      update('#jacket_info', jacketProducts, indexJacket)
    }
  });

  // Shirt Images
  $( "#toggle-right-shirt" ).click(function() {
    if( indexShirt < shirtProducts.length) {
      indexShirt++;
      update('#shirt_info', shirtProducts, indexShirt)
    }
  });

  $( "#toggle-left-shirt" ).click(function() {
    if(indexShirt >= 1) {
    	indexShirt--;
      update('#shirt_info', shirtProducts, indexShirt)
    }
  });

  // Bottoms Images
  $( "#toggle-right-bottom" ).click(function() {
    if( indexBottom < bottomProducts.length) {
        indexBottom++;
        update('#bottom_info', bottomProducts, indexBottom)
    }
  });

  $( "#toggle-left-bottom" ).click(function() {
    if(indexBottom >= 1) {
    	indexBottom--;
      update('#bottom_info', bottomProducts, indexBottom)
    }
  });

})
</script>