<section class="services">
	<div class="container">
	  <div class="row">
	    <div class="col-md-10">
	      <div class="panel panel-info">
	        <div class="panel-heading">
	          <div class="panel-title">
	            <div class="row">
	              <div class="col-xs-6">
	                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Review Your Box</h5>
	              </div>
	            </div>
	          </div>
	        </div>
	      <div class="panel-body">
	          <div class="row">
	            <div class="col-xs-3">
	       				<%= image_tag @jacket_info["image"]["sizes"]["XLarge"]["url"] %>
	       			</div>
		           <div class="col-xs-3" id="jacket_info">
		           <h4 class="product-name"><strong>
		  					<%= @jacket_info["priceLabel"] %></strong></h4>
								<h4><small><%= @jacket_info["brandedName"] %></small></h4>
		            </div>
		            <div class="col-xs-3">
		            	<%= image_tag @shirt_info["image"]["sizes"]["XLarge"]["url"] %>
		            		<div id='shirt_info'>
		  								<%= @shirt_info["priceLabel"] %>
											<%= @shirt_info["brandedName"] %>
										</div>
		  					</div>
		  					<div class="col-xs-3">
		  						<%= image_tag @bottom_info["image"]["sizes"]["XLarge"]["url"] %>
		  							<div id='bottom_info'>
		  								<%= @bottom_info["priceLabel"] %>
										<%= @bottom_info["brandedName"] %>
		  							</div>
		  					</div>

	       	 		<%= form_tag("/products/create", method: "post", id:"id_form") do %>
	     				<%= submit_tag(value="Proceed to Checkout") %>
	        		<% end %>
		        </div>
	      	</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
$(function() {
	$( "#checkout" ).click(function() {
		$.ajax({
			url: '/boxes/create',
			type: "POST",
			data: {
				box: 
					{ products_id: {
						shirt_id: <%= raw @shirt_info["id"] %>,
						pant_id: <%= raw @bottom_info["id"] %>,
						jacket_id: <%= raw @jacket_info["id"] %>
					}
				}
			}
		}).success(function(data) {
			location.href =  '/boxes/checkout';
		});
		
	});


});
</script>