<h1>Review Your Box</h1>

  <div class="container">
  <button id="checkout">Proceed to Checkout</button>
    <div class="row">
       <div class="col-md-4 box">
       		<%= image_tag @jacket_info["image"]["sizes"]["XLarge"]["url"] %>

	  		<div id='jacket_info'>
	  			<%= @jacket_info["priceLabel"] %>
				<%= @jacket_info["brandedName"] %>
	  		</div>

       </div>

   		<div class="col-md-4 box">
			<%= image_tag @shirt_info["image"]["sizes"]["XLarge"]["url"] %>

	  		<div id='shirt_info'>
	  			<%= @shirt_info["priceLabel"] %>
				<%= @shirt_info["brandedName"] %>
	  		</div>

		</div>


       	<div class="col-md-4 box">
       		<%= image_tag @bottom_info["image"]["sizes"]["XLarge"]["url"] %>

	  		<div id='bottom_info'>
	  			<%= @bottom_info["priceLabel"] %>
				<%= @bottom_info["brandedName"] %>
	  		</div>
       	</div>
    </div>








       	 <%= form_tag("/products/create", method: "post", id:"id_form") do %>
     <%= submit_tag(value="Proceed to Checkout") %>
        <% end %>








<script>
$(function() {
	$( "#checkout" ).click(function() {
		$.ajax({
			url: '/boxes/create',
			type: "POST",
			data: {
				box: 
					{ products_id: {
						shirt_id: <%= raw @shirt_info["id"] %>,
						pant_id: <%= raw @bottom_info["id"] %>,
						jacket_id: <%= raw @jacket_info["id"] %>
					}
				}
			}
		}).success(function(data) {
			location.href =  '/boxes/checkout';
		});
		
	});


});
</script>