<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-md-6">
                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Review Your Box</h5>
              </div>
              <div class="col-md-2 col-md-offset-9">
              	<button id='checkout' class='btn btn-primary'>Proceed to Checkout</button>
              </div>
            </div>
          </div>
        </div>

      	<div class="panel-body">
        	<div class="row">
	      		<div class="col-md-4 text-center" id="jacket_info">
		        	<h4 class="product-name"><strong>
		           		<%= @jacket_info["priceLabel"] %>
		            </strong></h4>
					<h4><small><%= @jacket_info["brandedName"] %></small></h4>
					<%= image_tag @jacket_info["image"]["sizes"]["XLarge"]["url"] %>
	        	</div>
        	
        		<div class='col-md-4 text-center' id='shirt_info'>
					<h4 class='product-name'>
						<strong><%= @shirt_info["priceLabel"] %></strong>
					</h4>
					<h4><small><%= @shirt_info["brandedName"] %></small></h4>
					<%= image_tag @shirt_info["image"]["sizes"]["XLarge"]["url"] %>
	  			</div>

				<div class="col-md-4 text-center" id='bottom_info'>
					<h4 class="product-name"><strong>
						<%= @bottom_info["priceLabel"] %>
					</strong></h4>		
					<h4><small><%= @bottom_info["brandedName"] %></small></h4>
					<%= image_tag @bottom_info["image"]["sizes"]["XLarge"]["url"] %>
				</div>
			</div>
		</div>
      	</div>
	</div>
</div>
</div>
</div>


<script>
$(function() {
	$( "#checkout" ).click(function() {
		$.ajax({
			url: '/boxes/create',
			type: "POST",
			data: {
				box: 
					{ products_id: {
						shirt_id: <%= raw @shirt_info["id"] %>,
						pant_id: <%= raw @bottom_info["id"] %>,
						jacket_id: <%= raw @jacket_info["id"] %>
					}
				}
			}
		}).success(function(data) {
			location.href =  '/boxes/checkout';
		});
		
	});


});
</script>